*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:linear-gradient(135deg,#fff7fb,#ffe4ef);
color:#444;
overflow-x:hidden;
}

#intro{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.envelope{
font-size:100px;
animation:float 3s ease-in-out infinite;
}

h1{
color:#ff4f9a;
font-size:32px;
margin:20px 0;
}

p{
font-size:18px;
color:#666;
line-height:1.7;
}

button{
background:#ff5ca8;
color:#fff;
border:none;
padding:15px 35px;
font-size:18px;
border-radius:40px;
cursor:pointer;
margin-top:25px;
transition:.3s;
box-shadow:0 8px 20px rgba(255,92,168,.3);
}

button:hover{
transform:scale(1.05);
}

#birthday{
padding:30px;
text-align:center;
}

.cake{
font-size:120px;
margin:20px 0;
animation:bounce 2s infinite;
}

.photos{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
margin-top:20px;
}

.photos img{
width:100%;
border-radius:18px;
box-shadow:0 5px 15px rgba(0,0,0,.15);
}

#letter{
margin-top:40px;
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,.08);
}

@keyframes float{
50%{transform:translateY(-15px);}
}

@keyframes bounce{
50%{transform:translateY(-10px);}
}
@keyframes floatHeart {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100vh);
    }
}
@keyframes heartbeat {
  0% { transform: scale(1); }
  25% { transform: scale(1.2); }
  50% { transform: scale(1); }
  75% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

/* 🌸 Flower Intro */

#flowerIntro{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:white;
    display:none;
    overflow:hidden;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    z-index:99999;
}

#flowerContainer{
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
}

.flower{
    position:absolute;
    top:-80px;
    border-radius:50%;
    animation:flowerFall linear forwards;
    opacity:.95;
    box-shadow:0 0 12px rgba(255,105,180,.35);
}

.flowerText{
    position:relative;
    z-index:5;
    text-align:center;
}

.flowerText h2{
    color:#ff4f9a;
    font-size:30px;
    padding:0 20px;
    text-shadow:0 0 15px rgba(255,182,193,.8);
}

@keyframes flowerFall{

0%{
    transform:translateY(-120px) rotate(0deg);
}

50%{
    transform:translateY(50vh) translateX(20px) rotate(180deg);
}

100%{
    transform:translateY(110vh) translateX(-20px) rotate(360deg);
}

}
