*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:linear-gradient(135deg,#fff7fb,#ffe4ef);
overflow-x:hidden;
color:#444;
}

#intro{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.envelope{
font-size:100px;
animation:float 3s ease-in-out infinite;
}

h1{
color:#ff4f9a;
margin:20px 0;
font-size:32px;
}

p{
font-size:18px;
line-height:1.7;
}

button{
background:#ff5ca8;
color:white;
border:none;
padding:15px 35px;
font-size:18px;
border-radius:40px;
margin-top:25px;
cursor:pointer;
box-shadow:0 10px 25px rgba(255,92,168,.35);
transition:.3s;
}

button:hover{
transform:scale(1.05);
}

#birthday{
padding:30px;
text-align:center;
}

.cake{
font-size:110px;
animation:bounce 2s infinite;
margin:20px 0;
}

.slider{
display:flex;
justify-content:center;
margin-top:30px;
}

.slider img{
width:240px;
height:320px;
object-fit:cover;
border:12px solid white;
border-bottom:45px solid white;
border-radius:8px;
box-shadow:0 15px 35px rgba(0,0,0,.2);
transition:.5s;
}

#photoCaption{
margin-top:15px;
color:#ff4f9a;
font-style:italic;
font-size:18px;
}

#letter{
margin-top:40px;
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,.1);
}

@keyframes float{
50%{transform:translateY(-15px);}
}

@keyframes bounce{
50%{transform:translateY(-10px);}
}

@keyframes heartbeat{
0%,100%{transform:scale(1);}
25%{transform:scale(1.2);}
50%{transform:scale(1);}
75%{transform:scale(1.2);}
}

/* Flower Intro */

#flowerIntro{
position:fixed;
top:0;
left:0;
width:100%;
height:100vh;
display:none;
justify-content:center;
align-items:center;
overflow:hidden;
background:white;
flex-direction:column;
z-index:99999;
}

#flowerContainer{
position:absolute;
width:100%;
height:100%;
overflow:hidden;
}

.flower{
position:absolute;
top:-100px;
width:45px;
pointer-events:none;
animation:flowerFall linear forwards;
filter:drop-shadow(0 0 10px rgba(255,0,100,.5));
}

.flowerText{
position:relative;
z-index:10;
text-align:center;
padding:20px;
}

.flowerText h2{
color:#ff4f9a;
font-size:30px;
text-shadow:0 0 15px pink;
}

@keyframes flowerFall{

0%{
transform:translateY(-100px) rotate(0deg);
opacity:1;
}

100%{
transform:translateY(120vh) rotate(360deg);
opacity:1;
}

}
/* 💌 Second Envelope */

#memoryGift{

    animation:fadeIn 1s ease;
    padding-bottom:80px;

}

#memoryBtn{

    font-size:90px;
    cursor:pointer;
    display:inline-block;
    animation:float 3s ease-in-out infinite;
    transition:.4s;
    filter:drop-shadow(0 0 12px hotpink);

}

#memoryBtn:hover{

    transform:scale(1.12);

    filter:drop-shadow(0 0 25px deeppink);

}

#memoryGift h2{

    font-size:30px;
    color:#ff4f9a;
    margin-top:20px;

}

#memoryGift p{

    font-size:18px;
    color:#666;

}

@keyframes fadeIn{

from{

opacity:0;
transform:translateY(30px);

}

to{

opacity:1;
transform:translateY(0);

}

}
